body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F1EED9;
}

.corpsPage {
    margin-right: 100px;
    margin-left: 100px;

}

.titre2 {
    padding: 15px;
    text-align: center;
}
.titre{
    padding: 15px;

    @media screen and (max-width: 646px) {
        text-align: center;
    }
}
@media screen and (max-width: 646px) {
    .corpsPage {
        margin-right: 30px;
        margin-left: 30px;

    }
}
/***********************************************************/
/*      Tableau de gestion des images du carrousel         */
/***********************************************************/
.tableauflex {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #F7EDBF;
    color: black;

}
        
table img {
    max-width: 100%;
    height: auto;
}


.previewCarousel{
    width: 150px;
    height: auto;
}

.suppression {
    color: #ffe2df;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10%;
    background-color: #e74c3c;
}


/***********************************************************/
/*                  Style du formulaire                    */
/***********************************************************/

form {
    max-width: 400px;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #F7EDBF;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="file"],
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #31B275;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0b742e;
}

.msgErreur {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #cc2929;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.msgValid {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #0b742e;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

