.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Les autres styles CSS pour le contenu restent inchangés */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #03989E;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.lienInscription {
    text-decoration: none;
    color: #03989E;
}

.lienInscription:hover {
    text-decoration: underline;
}

.msgErreur {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #cc2929;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}