body {
    background-color: #F1EED9;
}

.corpsPage {
    margin-right: 100px;
    margin-left: 100px;
}

#calendar {
    margin: 20px;
    padding: 5px 5px;
    background: #F7EDBF;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    position: sticky;
}

#eventForm {
    background-color: #F7EDBF;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#eventForm label {
    font-weight: bold;
}

#eventForm input[type="text"],
#eventForm input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bouttonValider {
    background-color: #31B275;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bouttonSupprimer {
    background-color: #B6473C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#eventForm button:hover {
    background-color: #2980b9;
}


#eventForm label,
#eventForm input[type="text"],
#eventForm input[type="date"],
#eventForm button {
    width: 100%;
}

.button-container {
    display: flex; 
    flex-direction: column; 
}

.button-container button {
    margin: 10px; 
}


@media screen and (min-width: 768px) {
    .button-container {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .button-container button {
        margin-top: 0; 
    }
}

@media screen and (max-width: 646px) {
    .corpsPage {
        margin-right: 30px;
        margin-left: 30px;
    
    }
}

.msgErreur {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #cc2929;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.msgValid {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #0b742e;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}


