body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F1EED9;
}

.corpsPage {
    margin-right: 100px;
    margin-left: 100px;

}

.titre {
    text-align: center;
    padding: 15px;
}

.conteneurflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


.boite {
    
    margin-bottom: 15px;
    padding: 10px 40px;
    background: #F7EDBF;
    border-radius: 5px;
    margin: 5px;
    width: 100%;    
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);   
    
}

.zonetexte {
    width: 100%;
    min-height: 100px; /* Hauteur minimale (ajustez selon vos besoins) */
    resize: vertical; /* Permet la redimension verticale de la zone de texte */
}

.ValidationDonnee {
    
    margin-bottom: 15px;
    padding: 10px 40px;
    background: #31B275;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px;
    width: 100%;    
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);   
}

.ValidationDonnee:hover {
    background-color: #2980b9 ;
}

@media screen and (max-width: 992px) {
    .conteneurflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .corpsPage {
        margin-right: 30px;
        margin-left: 30px;
    
    }
}

.msgErreur {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #cc2929;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.msgValid {
    text-align: center;
    margin: 10px;
    color: #FCFCFC;
    padding: 5px 5px;
    background: #0b742e;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
