.footer {
    background: #222;
    color: white;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.doubleSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-section p,
.right-section p {
    font-size: 16px;
    line-height: 1.5;
}

.btnNewsletter {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03989E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btnNewsletter:hover {
    background-color: #006d6d;
}
