.footer {
    background: #2E221F;
    color: white;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-top: 20px;

}
.doubleSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-section p,
.right-section p {
    font-size: 16px;
    line-height: 1.5;
}

.btnFooter {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F1EED9;
    color: black;
    border-color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btnFooter:hover {
    background-color: #DFDCC9;
}
