body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.conteneurflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.gestionIntro
 {
    margin-bottom: 15px;
    padding: 10px 40px;
    background: #FFFAFA;
    border-radius: 5px;
    margin:5px;
    margin-top: 15px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);   
}

.capacite,
.equipement,
.langues,
.tarifs,
.moyenPayement,
.disponibilites
{
    margin-bottom: 15px;
    padding: 10px 40px;
    background: #FFFAFA;
    border-radius: 5px;
    margin: 5px;
    width: 95%;
    word-wrap: break-word;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);   
}

.titreIntro {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.introTarif {
    color: red;
    text-align: center;
}

.text-container {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.text-container .hidden-text {
    display: none;
}

.hidden-text {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
}

.enSavoirPlus {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

li {
    font-size: 16px;
    color: #666;
    list-style: none;
    text-align: center;
}



.customTitre {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .titreIntro {
        font-size: 24px;
    }

    .customTitre {
        font-size: 20px;
    }

    .customText {
        font-size: 14px;
    }

    ul li {
        font-size: 14px;
    }
}


@media screen and (max-width: 646px) {
    .conteneurflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


/************************************/
/*             CARROUSEL            */
/************************************/
.gestionCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFAFA;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.customTitle,
#imageCounter { 
    color: #080808;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
    
.carousel {
    margin: 15px;
    display: flex;
    overflow: hidden;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.4s ease;
}

.carousel img {
    max-width: 100%;
    height: 450px;
    
}

.carousel-text {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#prevCarouselBtn,
#nextCarouselBtn {
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #03989E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

#nextCarouselBtn:hover,
#prevCarouselBtn:hover {
    background-color: #03989E;
}

@media screen and (max-width: 646px) {
    .carousel img {
        max-width: 100%; 
        height: 200px;
        border-radius: 5px;
    }

    .carousel-text {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    
}


