body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F1EED9;
}

.corpsPage {
    margin-right: 100px;
    margin-left: 100px;

}

.customTitle {
    font-size: 50px;
    text-align: center;
    text-shadow: -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff;
     color:#2E221F;

}

#modif_intro,
#modif_equipementEtService,
#modif_langue,
#modif_tarifs,
#modif_MoyenDePaiement,
#modif_saison {
    white-space: pre-line;
}


.conteneurflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.introTarif{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
.gestionIntro
 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 40px;
    background: #F7EDBF;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);   
}

.equipement,
.tarifs,
.disponibilites
{
    margin-top: 15px;
    padding: 10px 40px;
    background: #F7EDBF;
    border-radius: 5px;
    margin: 5px;
    width: 95%;
    word-wrap: break-word;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);   
}
.capacite,
.langues,
.moyenPayement {
    margin-left: 100px;
    margin-top: 15px;
    padding: 10px 40px;
    background: #F7EDBF;
    border-radius: 5px;
    margin: 5px;
    width: 95%;
    word-wrap: break-word;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);  
}


.titreIntro {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.introTarif {
    color: red;
    text-align: center;
}

.text-container {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.text-container .hidden-text {
    display: none;
}

.hidden-text {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
}

.enSavoirPlus {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

li {
    font-size: 16px;
    color: #666;
    list-style: none;
    text-align: center;
}



.customTitre {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}


ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .titreIntro {
        font-size: 48px;
    }

    .customTitre {
        font-size: 48px;
    }

    .customTitle{
        font-size: 72px;
    }

    p{
        font-size: 30px;
    }
    .enSavoirPlus{
        font-size: 30px;
    }

    .hidden-text{
        font-size: 30px;
    }
}


@media screen and (max-width: 992px) {
    .conteneurflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .corpsPage {
        margin-right: 30px;
        margin-left: 30px;
    
    }
}

@media screen and (min-width: 992px) {
    .conteneurflex {
        display: flex;
        align-items: stretch;
    }
}


/************************************/
/*             CARROUSEL            */
/************************************/

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.mySlides {
    display: none;
    max-width: 100%;
    flex: 0 0 auto; 
}


.slideshow-container img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.navigation-container {
    position: relative;
}

.prev, .next {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    transition: background-color 0.6s ease;
}

.prev {
    left: 0; 
}

.next {
    right: 0; 
}

.carousel {
    flex-direction: column;
    align-items: center;
}
.prev, .next {
    top: auto;
    bottom: 20px;
    margin-top: 0;
}

.mySlides.active {
    display: block;
}


@media screen and (max-width: 992px) {
    .prev, .next {
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
        z-index: 1;
        user-select: none;
        transition: background-color 0.6s ease;
    }
}