body {
    background-color: #F1EED9;
}


.centered-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.container {
    background-color: #F7EDBF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nom,
#email {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btnNewsletter {
    padding: 10px;
    background-color: #58351A;
    color: #fff;
    border: 1px solid #58351A;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.btnNewsletter:hover {
    background-color: #2E221F;
}


.no-print {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


