/* Style du formulaire */
body {
    background-color: #F1EED9;
}


form {
    max-width: 400px;
    margin: auto auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #F7EDBF;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.titleNewsletter{
    text-align: center;
}

#telecharger {
    padding: 10px 20px;
    background-color: #F1EED9;
    color: black;
    border-color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

#telecharger:hover {
    background-color: #DFDCC9;
}